@import 'https://fonts.googleapis.com/css?family=PT+Sans|Source+Code+Pro';
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  border: 0;
  box-sizing: border-box;
  font: inherit;
  font-size: 1rem;
  margin: 0;
  min-height: 0;
  min-width: 0;
  padding: 0;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* global */
html {
  font-weight: normal;
  font-family: "PT Sans", sans-serif;
  font-size: 12px;
  line-height: 1.45;
}

body {
  background: #d4d4d4;
  color: rgba(0, 0, 0, 0.54);
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  word-wrap: break-word;
}

p, header, footer, main {
  padding: 4px 8px;
}

/* content */
small {
  font-size: 0.8em;
}

abbr {
  color: gray;
  -webkit-font-variant: small-caps;
  -moz-font-variant: small-caps;
  -ms-font-variant: small-caps;
  font-variant: small-caps;
  font-weight: 600;
  text-transform: lowercase;
}

abbr[title]:hover {
  cursor: help;
}

/* hyphenation */
input,
abbr,
acronym,
blockquote,
code,
kbd,
q,
samp,
var {
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

/* headings */
h1, h2, h3, h4, h5, h6 {
  font-family: "PT Sans", san-serif;
  color: #222;
  line-height: 1;
  margin-top: 0;
  padding: 4px 8px;
  text-rendering: optimizeLegibility;
}

h1 {
  font-size: 2.5rem;
  margin-top: 0.625rem;
}

h2 {
  font-size: 2.08333rem;
  margin-top: 0.52083rem;
}

h3 {
  font-size: 1.83333rem;
  margin-top: 0.45833rem;
}

h4 {
  font-size: 1.5rem;
  margin-top: 0.375rem;
}

h5 {
  font-size: 1.16667rem;
  margin-top: 0.29167rem;
}

h6 {
  font-size: 1.08333rem;
  margin-top: 0.27083rem;
}

svg, img, video, audio, iframe, canvas {
  max-width: 100%;
  max-width: calc(100% - 10px);
  width: 100%;
  margin: 5px 5px;
}

figure > figcaption {
  text-align: center;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  max-width: 100%;
  table-layout: fixed;
  width: 100%;
  max-width: calc(100% - (10px));
}

table, tbody, tfoot, thead {
  margin: 5px 5px;
}

table > caption {
  padding: 4px 8px;
}

th, td {
  padding: 2px 4px;
}

thead th, thead td, tfoot th, tfoot td {
  padding: 4px 4px;
  text-align: left;
}

thead th, thead td {
  font-weight: bold;
}

dl {
  padding: 4px 8px;
}

ol, ul, dl {
  margin: 1rem 0;
}

li {
  padding: 2px 0;
}

blockquote {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding-left: 16px;
}

blockquote > cite {
  align-self: flex-end;
}

blockquote,
q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

blockquote + figcaption cite,
q + figcaption cite {
  display: block;
  font-size: inherit;
  text-align: right;
}

cite {
  padding: 4px 8px;
}

button,
input,
label,
meter,
progress,
select,
textarea {
  display: inline-block;
  font-size: 1rem;
  margin: 2.5px 2.5px;
  padding: 2px 4px;
  vertical-align: middle;
}

textarea {
  vertical-align: top;
}

input {
  border: solid thin #ccc;
  background-color: #ffffff;
}

button {
  border: none 0 transparent;
  background-color: transparent;
}

fieldset {
  background: white;
  border: solid thin #cccccc;
  margin: 5px 5px;
  padding: 4px 8px;
}

fieldset > legend {
  padding: 4px 8px;
}

fieldset > legend:empty {
  padding: 0;
}

code {
  font-family: "Source Code Pro", monospace;
  white-space: pre;
}

pre {
  padding: 4px 8px;
  white-space: pre;
}

pre > code {
  word-wrap: normal;
  white-space: pre-wrap;
}

fieldset > legend {
  background-color: #f3f3f3;
  border-bottom: solid 1px #ccc;
  border-radius: 5px;
  font-weight: bold;
  left: 0;
  right: 0;
  position: absolute;
  top: 0;
  text-transform: uppercase;
  width: 100%;
}

fieldset {
  margin: 5px 5px;
  padding-top: 2.5rem;
  position: relative;
}

section {
  border-bottom: solid thin #cccccc;
}

input:not([type='radio']):not([type='checkbox']),
select {
  background: none;
  border: none;
  border-bottom: solid 1px #cccccc;
  border-radius: 0;
  outline: none;
}

select {
  background: none;
  border: none;
  border-radius: 0;
  outline: none;
  position: relative;
}

select::after {
  border-bottom: solid thin #ccc;
  width: 100%;
}

textarea {
  border-color: #ccc;
  border-radius: 5px;
  outline: none;
}

:-webkit-autofill {
  box-shadow: 0 0 0px 1000px white inset;
}

section {
  background: #e8e8e8;
  border-radius: 5px;
}

table {
  border: solid 1px #cccccc;
}

thead th {
  background-color: white;
  border-bottom: solid thin #cccccc;
}

tfoot tr {
  background-color: #ededed;
  border-top: solid thin #cccccc;
}

th:not(:first-child), td:not(:first-child) {
  border-left: solid thin #cccccc;
}

table > tr:nth-child(2n) > td,
tbody > tr:nth-child(2n) > td {
  background: white;
}

table > tr:nth-child(2n - 1) > td,
tbody > tr:nth-child(2n - 1) > td {
  background: #ededed;
}
