//* content */
$body-background: #fcfcfc;
$base-font-family: 'Arial', sans-serif;
$base-font-weight: normal;
$mono-font-family: monospace;
$font-base: 14.4;
$small-caps-color: gray;
$copy-color: #444;

//* headings */
$heading-color: #222;
$heading-font-family: 'Arial', san-serif;
$heading-font-sizes: (
    h1: round($font-base * 4),
    h2: round($font-base * 3.3333),
    h3: round($font-base * 2.6667),
    h4: round($font-base * 2),
    h5: round($font-base * 1.3333),
    h6: round($font-base * 1.1667)
);

$line-height: 1.65;
$small-caps-weight: 600;
$small-print-size: 0.65em;

//* whitespace */
$v-padding: 0.6rem;
$h-padding: 0.8rem;
$v-margin: 0.6rem;
$h-margin: 0.8rem;

//* button styles */
$button-background-color: #eeeeee;
$button-border-color: #929292;
$button-border-style: solid;
$button-border-width: thin;

//* input styles */
$input-background-color: #ffffff;
$input-border-color: #929292;
$input-border-style: solid;
$input-border-width: thin;

//* cite styles */
$cite-display: block;
$cite-align: right;
$cite-font-size: inherit;

//* fieldset styles */
$fieldset-background: #fcfcfc;
$fieldset-border-color: #c5c5c5;
$fieldset-border-style: solid;
$fieldset-border-width: thin;

//* import styles, must come last */
@import '../base/_index';
