// fonts
// -------------------------------------//
$font-family: 'Arial', sans-serif;
$font-weight: normal !default;
$font-size: 90 !default;
$font-base: 16 * ($font-size/100) !default;
$line-height: 1.65 !default;


// spacing
// -------------------------------------//
$vertical-space: .6rem;
$horizontal-space: .8rem;  
$default-unit: rem !default;


// color palette
// -------------------------------------//
$heading-color: #222 !default;
$copy-color: #444 !default;


// headers
// -------------------------------------//
$headings: (
    h1: round($font-base * 4), 
    h2: round($font-base * 3.3333), 
    h3: round($font-base * 2.6667), 
    h4: round($font-base * 2), 
    h5: round($font-base * 1.3333), 
    h6: round($font-base * 1.1667)
) !default;

// citations
// -------------------------------------//
$cite-display: block !default;
$cite-align: right !default;
$cite-font-size: inherit !default;

// small caps
// -------------------------------------//
$smcps-color: gray !default;
$smcps-weight: 600 !default;
$small-print-size: 65% !default;

// fieldsets
// -------------------------------------//
$fieldset-border-color: #c5c5c5 !default;
$fieldset-border-style: solid !default;
$fieldset-border-width: thin !default;


// import styles
// this must come last
@import '../base/index';
