label,
button,
textarea,
meter,
progress,
select,
input:not([type='radio']) {
    display: inline-block;
    font-size: 1rem;
    padding: #{$v-padding / 2} #{$h-padding / 2};
    margin: #{$v-margin / 2} #{$h-margin / 2};
    vertical-align: middle;
}

textarea {
    // align textarea to the top
    vertical-align: top;
}

button {
    border: $button-border-style $button-border-width $button-border-color;
    background-color: $button-background-color;
}
 
fieldset { 
    border: $fieldset-border-style $fieldset-border-width $fieldset-border-color; 
    padding: #{$v-padding} #{$h-padding};

    > legend {
        padding: #{$v-padding} #{$h-padding};
    }
    > legend:empty {
        padding: 0
    }
}
